body {
            margin: 0;
            overflow: hidden;
            background-color: #000;
        }
        #container {
            width: 100%;
            height: 100vh;
        }
        #fileInput {
            display: none;
        }
        #sourceVideo {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
        }
        .lil-gui.root {
            position: absolute;
            bottom: 20px;
            right: 20px;
            top: auto;
            max-height: 90vh;
            overflow-y: auto;
        }