* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: black;
}

.filter {
	top: 0;
	left: 0;
	position: absolute;
	display: block;
	height: 100vh;
	width: 100vw;

	z-index: 999999999;
	mix-blend-mode: multiply;
}
#screen {
	height: 100vh;
	background-color:red;
	overflow:hidden;
}

.palette-container {
	filter: url(#scanline-displacement);
	display: flex;
	flex-direction: row;
	height: 90vh;
	width: 100%;
	margin-top: -10px;
	transition: all 1s ease;
}

.palette-container-2 {
	filter: url(#scanline-displacement);
	display: flex;
	flex-direction: row;
	margin-top: -10px;
	height: calc(10vh + 20px);
	width: 100%;
}
.color-swatch {
	flex: 1;
	transition: flex 0.3s ease;
	border: 0px solid black;
}

.animate {
	animation: turnTheTVOff 2s ease;
	animation-fill-mode: forwards;
}

/* @media (min-width: 700px) {
	.palette-container {
		flex-direction: row;
	}
} */
@keyframes turnTheTVOff {
	/* Keyframe selectors (percentages or keywords) */
	0% {
		height: 90vh;
	}

	100% {
		height: 0vh;
	}
}

.color-1 {
	background-color: snow;
}
.color-2 {
	background-color: yellow;
}
.color-3 {
	background-color: cyan;
}
.color-4 {
	background-color: Chartreuse;
}
.color-5 {
	background-color: magenta;
}
.color-6 {
	background-color: red;
}
.color-7 {
	background-color: blue;
}
.color-8 {
	background-color: blue;
}
.color-9 {
	background-color: black;
}
.color-10 {
	background-color: magenta;
}
.color-11 {
	background-color: black;
}
.color-12 {
	background-color: cyan;
}
.color-13 {
	background-color: black;
}
.color-14 {
	background-color: snow;
}

.tv {
	transform: scaleX(0.25) scaleY(0.5);
	background-color: black;
	padding: 25px;
	height:90vh;
	border-radius: 33px;
	border: 33px 44px solid slategray;
	padding-right: 300px;
	box-shadow: 25px 25px 0px darkgray;
}

.knob {
	width: 200px;
	height: 100px;
	border-radius: 100%;
	position: absolute;
	background-color: slategray;
	opacity: 50%;
	right: 2.5%;
	top: 40%;
}