.svgContainer {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 40vw;
  background-color: #020605;
  border-radius: 100%;
  border: solid 1.35em #020102;
  box-shadow: 0 35px 75.8px 0 #17123D;
  position: relative;
}

.overflowContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 100%;
}

#svgControl {
  transform: scale(1.7);
}

#light {
  position: absolute;
  scale: 1.3;
  z-index: 9;
  pointer-events: none;
  mix-blend-mode: screen;
}

#lightA {
  position: absolute;
  scale: 1.3;
  z-index: 9;
  pointer-events: none;
  mix-blend-mode: plus-lighter;
}

.mainContainer {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(00deg,rgba(58, 54, 168, 1) 0%, rgba(132, 0, 255, 1) 100%);
  position: relative;
  overflow: hidden;
}

.dots {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg width='5' height='5' viewBox='0 0 5 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2.5' cy='2.5' r='2.5' fill='white' fill-opacity='0.1'/%3E%3C/svg%3E%0A");
  z-index: 999;
  pointer-events: none;
}