body {
	/* 	background-color: snow; */
	/* 	overflow: hidden;
	vertical-align: center;
	justify-content: center;
	display: flex; */

	font-size: 1rem;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: bold;
	line-height: 1.4;
	overflow: Hidden;
}
span {
	cursor: pointer;
}
.orange {
	background-color: orange !important;
}
ul {
	height: 100vh;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	max-width: 40vw;
	margin: 0 auto;
	justify-content: start;
	align-items: stretch;
	align-content: center;
}
li {
	display: block;

	min-height: 20px;
	max-height: 20px;
	min-width: 50px;

	max-width: 50px;
	height: 50px;
	cursor: crosshair;
}

[title]:hover::after {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	content: attr(title);
	/* 	border: 1px solid black;
	background: #eee; */
	padding: 0.25em;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

h1 {
	text-align: center;
}