:root {
	--white: white;
	--cristal: skyblue;
	--red: orangered;
	--orange: darkorange;
	--yellow: gold;
	--green: yellowgreen;
	--blue: lightskyblue;
	--violet: mediumpurple;
}

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #000000;
}

.content {
	width: 60vmin;
	height: 60vmin;
	background: #192124;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	border-radius: 0.25vmin;
	box-shadow: 0vmin 0vmin 5vmin 0vmin #ffffff11, 0 0 0.5vmin 0 #000000 inset;
}

.content * {
	position: absolute;
}

.light {
	width: 30vmin;
	height: 0.2vmin;
	background: var(--white);
	left: -3vmin;
	margin-top: 4.85vmin;
	z-index: 2;
	transform: rotate(-18deg);
	transform-origin: 50% 50%;
}

.prism {
	width: 10vmin;
	height: 7vmin;
	z-index: 2;
	margin-top: -4vmin;
	margin-left: 1.5vmin;
	background: linear-gradient(
		48deg,
		#ffffffcc 1vmin,
		#81b2be80 5vmin,
		#f000 8vmin
	);
	clip-path: polygon(0% 53%, 61% 20%, 98% 93%, 0% 53%);
	transform: rotate(5deg);
}

.triangle {
	position: relative;
	width: 21vmin;
	height: 18vmin;
	background: linear-gradient(
			120deg,
			#192124 0 9vmin,
			#fff0 calc(9vmin + 1px) 100%
		),
		linear-gradient(
			240deg,
			#192124 0 9vmin,
			var(--cristal) calc(9vmin + 1px) 9.25vmin,
			#fff0 10.5vmin 100%
		),
		linear-gradient(
			120deg,
			#192124 0 9vmin,
			var(--cristal) calc(9vmin + 1px) 9.25vmin,
			#fff0 10.5vmin 100%
		),
		linear-gradient(0deg, var(--cristal) 0 0.25vmin, #fff0 1.5vmin 100%);
}

.rainbow {
	margin-top: 0;
	transform: rotate(10deg);
	width: 30vmin;
	height: 8vmin;
	right: -1vmin;
	margin-top: 1.65vmin;
	background: linear-gradient(178deg,	var(--red) 2.3vmin,	transparent calc(2.3vmin + 1px) 100%),
		linear-gradient(178deg,	#192124 2.25vmin,	transparent calc(2.25vmin + 1px) 100%),
		linear-gradient(178.85deg,	var(--orange) 3.25vmin,	transparent calc(3.25vmin + 1px) 100%),
		linear-gradient(180.15deg,	var(--yellow) 4.05vmin,	transparent calc(4.05vmin + 1px) 100%),
		linear-gradient(180.75deg,	var(--green) 5.15vmin,	transparent calc(5.15vmin + 1px) 100%),
		linear-gradient(181.95deg, var(--blue) 6.45vmin,	transparent calc(6.45vmin + 1px) 100%),
		linear-gradient(181.5deg,	var(--violet) 8vmin, transparent calc(7vmin + 1px) 100%),
		#192124;
	clip-path: polygon(4.5% 20%, 100% 0%, 100% 100%, 17.8% 80%);
}