body {
            margin: 0;
            overflow: hidden;
            font-family: sans-serif;
            background-color: #ffffff;
        }
        canvas {
            display: block;
        }
        .lil-gui.root {
            position: absolute;
            top: auto;
            bottom: 10px;
            right: 10px;
        }