*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
}
body {

	--blendMode: "difference";

	background-color: #a9d7d8;
	overflow: clip;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	overflow: visible;
	@supports not (-moz-appearance: none) { filter: url(#shadow); }
	@supports (-moz-appearance: none) { filter: url(#mozShadow); } /* */

	&:before {
		display: block;
		position: absolute;
		content: " ";
		z-index: -1;
		width: 300px;
		height: 300px;
  		border-radius: 50%;

	} /* */
	
	&:after {
		position: absolute;
		z-index: 20;
		width: 100vw;
		height: 100vh;
		content: " ";
		backdrop-filter: blur(30px);
	  	overflow: visible;
	}
	
}

.colorWheel {
	--mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><circle cx="150" cy="150" r="25" fill="black" /><circle cx="150" cy="150" r="150" fill="none" stroke="black" stroke-width="300" stroke-dasharray="9.63 10" /></svg>');
	mask: var(--mask);

	mix-blend-mode: var(--blendMode);
	display: block;
	position: absolute;
	z-index: 10;
	width: 300px;
	height: 300px;
  	border-radius: 50%;
	overflow: visible;
	animation: rotateWheel 60s cubic-bezier(0.6, 0.4, 0.4, 0.6) infinite;

	&.conicRed {
		margin-left: -150px;
		margin-top: -150px;
		background: conic-gradient(
			in oklch longer hue from 0deg,
			oklab(62.793% 0.22489 0.1258),
			oklab(62.793% 0.22489 0.1258) 360deg
		);
	}
	&.conicGreen {
		margin-right: -150px;
		margin-top: -150px;
		background: conic-gradient(
			in oklch longer hue from 0deg,
			oklab(86.645% -0.23392 0.17942),
			oklab(86.645% -0.23392 0.17942) 360deg
		);
	}
	&.conicBlue {
		margin-bottom: -120px;
		background: conic-gradient(
			in oklch longer hue from 0deg,
			oklab(45.203% -0.03235 -0.31162),
			oklab(45.203% -0.03235 -0.31162) 360deg
		);
	}
}

@keyframes rotateWheel {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

label[for=mixBlendModeSelect] {
	display: block;
	position: fixed;
	left: 10px;
	top: 15px;
	font-weight: bold;
}
#mixBlendModeSelect {
	position: fixed;
	left: 10px;
	top: 40px;
	padding: 10px;
	font-size: 18px;
}