html, body {
  height: 100%;
}

body {
  background-color: #9AB5EC;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch {
  position: relative;
  height: 90px;
  width: 200px;
  border-radius: 100px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, #364BBA, #A979D9);
  transition: 0.4s;
}
.slider:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition: 0.4s;
  z-index: 9;
}
.slider-bg {
  position: absolute;
  top: 41px;
  left: -4px;
  z-index: 6;
}
.slider-circle {
  position: absolute;
  left: 117px;
  top: 20px;
  z-index: 5;
  transition: 0.4s;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background-color: #FFFEDA;
  transition: 0.4s;
}
.circle-1 {
  top: 20px;
  left: 15px;
}
.circle-2 {
  top: 9px;
  left: 31px;
}
.circle-3 {
  top: 12px;
  left: 65px;
}
.circle-4 {
  top: 7px;
  left: 94px;
}
.circle-5 {
  top: 38px;
  left: 94px;
}
.circle-6 {
  top: 21px;
  left: 100px;
}
.circle-7 {
  top: 13px;
  right: 85px;
}
.circle-8 {
  top: 11px;
  right: 61px;
}
.circle-9 {
  top: 8px;
  right: 41px;
}
.circle-10 {
  top: 21px;
  right: 37px;
}
.circle-11 {
  top: 22px;
  right: 21px;
}

.size-1 {
  width: 1px;
  height: 1px;
}

.size-2 {
  width: 2px;
  height: 2px;
}

.size-3 {
  width: 3px;
  height: 3px;
}

.size-4 {
  width: 4px;
  height: 4px;
}

.cloud {
  position: absolute;
  transform: translateY(200px);
  transition: 0.4s;
}
.cloud-1 {
  top: 14px;
  left: 19px;
}
.cloud-2 {
  top: 25px;
  right: 75px;
}
.cloud-3 {
  top: 7px;
  right: 73px;
}

.mountain {
  position: absolute;
  z-index: 7;
}
.mountain-1 {
  top: 31px;
  left: -28px;
}
.mountain-2 {
  top: 38px;
  left: 23px;
}
.mountain-3 {
  top: 36px;
  right: 21px;
}
.mountain-4 {
  top: 36px;
  left: 125px;
}

input:checked + .slider {
  background-image: linear-gradient(to bottom, #ABFAFF, #D5FFAB);
}
input:checked + .slider:before {
  transform: translateX(110px);
}
input:checked + .slider + .slider-bg + .slider-circle {
  transform: translateX(-80px) translateY(-2px);
}
input:checked ~ .circle {
  transform: translateY(-200px);
}
input:checked ~ .cloud {
  transform: translateY(0);
}