.d3container {
  width: 40vw;
  height: 40vw;
  background-color: #020605;
  border-radius: 100%;
  overflow: hidden;
}

.mainContainer {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(00deg,rgba(58, 54, 168, 1) 0%, rgba(132, 0, 255, 1) 100%);
  position: relative;
}

.dots {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg width='5' height='5' viewBox='0 0 5 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2.5' cy='2.5' r='2.5' fill='white' fill-opacity='0.1'/%3E%3C/svg%3E%0A");
  z-index: 999;
}