body { margin: 0; overflow: hidden; background-color: #f5f5f5; }
        canvas { display: block; }
        .lil-gui.root {
            position: absolute;
            bottom: 20px;
            right: 20px;
            top: auto !important;
        }