body { margin: 0; overflow: hidden; background-color: #111; color: white; font-family: sans-serif; }
        #canvas-container { width: 100vw; height: 100vh; display: block; }
        /* Hidden input */
        #input-svg { display: none; }