@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

html, body {
  height: 100%;
}

body {
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: clamp(5px, 3%, 30px);
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
}

.clock {
  width: 20%;
  height: auto;
  max-width: 250px;
  text-align: center;
}

.clock .face {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 9in;
  background: white;
  position: relative;
}
.clock p {
  margin: 15px 0 0;
  color: white;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}
.clock .hour, .clock .minute, .clock .second {
  background: red;
  position: absolute;
  left: 50%;
  
  width: 3%;
  height: 50%;
  border-radius: 50% 50% 50% 50% / 90% 90% 10% 10%;
  transform-origin: 50% 100%;
rotate:0deg;
}
.clock .hour {
  
  animation: rotater 43200s infinite linear;
}

.clock .minute {
  
  animation: rotater 3600s infinite linear;
}

.clock .second {
  
  animation: rotater 60s infinite linear;
}

.clock.mars .hour {
  
  animation: rotater 44388s infinite linear;
}

.clock.mars .minute {
  animation: rotater 3699s infinite linear;
}

.clock.mars .second {
  
  animation: rotater 61.65s infinite linear;
}

.clock .millisecond {
  
  animation: rotater 1s infinite linear;
}

.clock.mars .millisecond {
  
  animation: rotater 1.0275s infinite linear;
}

@keyframes rotater {
  from {
    rotate:0deg;
  }

  to {
    rotate:360deg;
  }
}