* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.container-orange {
	width: 100%;
	height: 100vh;
	background: #ff9500;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

#startButton {
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: url("https://images.unsplash.com/photo-1544829728-e5cb9eedc20e?auto=format&fit=crop&w=1200&q=80")
		center/cover;
	color: white;
	font-size: 2.5rem;
	font-weight: bold;
	border: none;
	cursor: pointer;
	letter-spacing: 3px;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);

	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0) scale(1);

	will-change: transform, opacity;
	backface-visibility: hidden;
}

#startButton::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.2);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	from {
		transform: scale(1);
		opacity: 0.6;
	}
	to {
		transform: scale(1.3);
		opacity: 0;
	}
}

#startButton.animating::before {
	animation: none;
	opacity: 0;
}

#startButton.animating {
	animation: expand 4.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes expand {
	0% {
		transform: translate3d(-50%, -50%, 0) scale(1);
		border-radius: 50%;
		opacity: 1;
	}

	100% {
		transform: translate3d(-50%, -50%, 0) scale(var(--scale));
		border-radius: 50%;
		opacity: 1;
	}
}

#resetButton {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	background: #e11616;
	color: white;
	font-size: 24px;
	border: none;
	cursor: pointer;
	opacity: 0;
	transform: scale(0.8);
	transition: opacity 0.3s ease, transform 0.3s ease;
}

#resetButton.visible {
	opacity: 1;
	transform: scale(1);
}
.copy {
	position: fixed;
	top: 15px;
	left: 15px;
	font-size: 12px;
	color: rgb(250 250 250 / 0.9);
	background: rgb(10 25 45 / 0.4);
	padding: 5px 10px;
	border-radius: 15px;
	backdrop-filter: blur(8px);
	z-index: 10;
	opacity: 0.8;
	transition: opacity 0.3s;
	z-index: 500;
}
.photo {
	position: fixed;
	bottom: 15px;
	left: 15px;
	font-size: 12px;
	color: rgb(250 250 250 / 0.9);
	background: rgb(10 25 45 / 0.4);
	padding: 5px 10px;
	border-radius: 15px;
	backdrop-filter: blur(8px);
	z-index: 10;
	opacity: 0.8;
	transition: opacity 0.3s;
	z-index: 500;
}
.photo a {
	color: #eee;
	text-decoration: none;
}
.copy:hover,
.photo:hover {
	opacity: 1;
}

@media (max-width: 768px) {
	#startButton {
		width: 150px;
		height: 150px;
		font-size: 2rem;
	}
}