@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;900&family=Roboto:wght@300;400&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	overflow: hidden;
	background-color: #000;
}
.title {
	position: absolute;
	width: 100%;
	text-align: center;
	margin-top: 50px;
	color: black;
	font-size: 24px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
	z-index: 1;
}
.title h1 {
	font-family: "Montserrat", sans-serif;
	font-size: 100px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
	span:nth-of-type(2) {
		font-weight: 600;
	}
	span:nth-of-type(3) {
		font-weight: 300;
	}
}
.title ul {
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 20px;
}
.title ul li {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: black;
	a {
		text-decoration: none;
		color: black;
	}
}